<?xml version="1.0"?>

<configuration>
    
    <connectionStrings>
        <add name="NorthwindConnectionString1" connectionString="Data Source=.\SQLITO;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
